<%- include("../layouts/header") %>

	<!-- container -->
	<main class="px-7 sm:px-10 md:px-28 lg:px-32">

        <section class="h-screen ">
            <div class="container h-full px-6 py-12 mx-auto ">
              <div class="flex flex-wrap items-center justify-center h-full text-gray-800 g-6">
                <div class="md:w-8/12 lg:w-5/12 lg:ml-20 ">
                  <h1 class="mb-5 text-3xl ">Update User</h1>
                  <% if(message.length !== 0 ){ %>	
                    <div class="bg-<%= status %>-100 my-2 p-5 w-full border-l-4 border-<%= status %>-500">
                      <div class="flex space-x-3">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-none fill-current text-<%= status %>-500 h-4 w-4">
                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.597 17.954l-4.591-4.55-4.555 4.596-1.405-1.405 4.547-4.592-4.593-4.552 1.405-1.405 4.588 4.543 4.545-4.589 1.416 1.403-4.546 4.587 4.592 4.548-1.403 1.416z" />
                      </svg>
                      <div class="leading-tight flex flex-col space-y-2">
                        <div class="flex-1 leading-snug text-sm text-<%= status %>-600"><%= message%></div>
                      </div>
                      </div>
                    </div>
                  <% } %>	
                  <form action="/user/update/<%= data.id %>" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <!-- username input --> 
                    <div class="mb-6">
                      <input
                        type="text"
                        class="username-input block w-full px-4 py-2 m-0 text-xl font-normal border border-solid rounded form-control focus:text-slate-500 bg-slate-300 placeholder-slate-600 focus:outline-none"
                        placeholder="username"
                        value="<%= data.username %>"
                        name="username"
                        
                      />
                    </div>

                    <!-- role input -->
                    <div class="mb-6">
                      <input
                        type="text"
                        class="block w-full px-4 py-2 m-0 text-xl font-normal border border-solid rounded form-control focus:text-slate-500 bg-slate-300 placeholder-slate-600 focus:outline-none"
                        placeholder="role"
                        value="<%= data.role %>"
                        name="role"  
                      />
                    </div>

                    <!-- email input -->
                    <div class="mb-6">
                      <input
                        type="text"
                        class="email-input block w-full px-4 py-2 m-0 text-xl font-normal border border-solid rounded form-control focus:text-slate-500 bg-slate-300 placeholder-slate-600 focus:outline-none"
                        placeholder="email"
                        value="<%= data.email %>"
                        name="email"
                      />
                    </div>

                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="inline-block w-full py-3 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-black rounded-lg shadow-md px-7 hover:bg-white hover:text-black hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg "
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                    >
                      Sign in
                    </button>
          
                  </form>
                </div>
              </div>
            </div>
        </section>
	</main>
	<!-- endContainer -->
<%- include("../layouts/footer") %>